.main-logo{
    cursor: url('/pictures/paw.png') 16 16, auto;
} 

.container-fluid {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgba(0, 0, 0, 0.700);
    background-color: rgb(185, 200, 200);
}

.bi{
    color: rgba(0, 0, 0, 0.600);
}
.bi:hover {
    color: rgba(0, 0, 0, 0.700);
}

.text-with-pictures {
    background-color:  rgba(255, 255, 255, 0.500);
}

.page-end {
    background-color: rgba(66, 66, 60, 0);
    border-top-width: 1px;           /* border-1 */
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.400); 
    border-right: none;
    border-bottom: none;
    border-left: none;
}

.product-cards{
    /*наслаиваю белый*/
    background-color: rgba(255, 255, 255, 0.500);
}

.product-card{
  /*наслаиваю белый*/
    background-color: rgba(255, 255, 255, 0.500);
    /* box-shadow:  4px 6px 12px rgba(0,0,0,0.15); */
}

.carousel-inner{
    box-shadow:  4px 6px 12px rgba(0,0,0,0.15);
}


