/*шрифт, цвет*/
*, .form-select{ 
    font-family: "Tenor Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgba(0, 0, 0, 0.700);
}
/*тень*/
.video-inst, .carousel-inner, .product-card, .rounded-circle, .productData, .order{ 
    box-shadow:  4px 6px 12px rgba(0, 0, 0, 0.15);
}
.header, .footer {
    background-color: rgb(185, 200, 200); /*если фото не прогрузится*/
    position: relative; /*overflow: hidden; /*на родителе — не дает вылезти за границы*/
    background-image: url('pictures/priroda.jpg');
    background-size: cover;
    background-position: center;
}
/*--------HEADER--------*/
.navbar{
    border: solid rgba(0, 0, 0, 0.200);
    border-width: 10px;
    box-shadow: inset 0 .5em 1.5em #0000001a, inset 0 .125em .5em #00000026;
}
.logo-with-text{
    cursor: url('/pictures/paw.png') 16 16, auto; /*Лапка*/
    align-items: center;
    display: flex;
    flex-direction: column;
} 

/*Menu*/
.btn{
    background-color: rgba(255, 255, 255, 0.5);
}
.dropdown-menu{
    /* background-color: rgba(255, 255, 255, 0.800); */
    background-color: #d2d6d6da;
} 
/*--------FOOTER--------*/
.footer ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 1rem;
    justify-content: center;
    border: solid rgba(0, 0, 0, 0.200);
    border-width: 5px;
    box-shadow: inset 0 .5em 1.5em #0000001a, inset 0 .125em .5em #00000026;  
}
.footer a {
    font-size: 30px;
    text-decoration: none;
}
/*--------MAIN--------*/
body {
    display: flex; /* чтобы футер всегда был прижат к низу экрана */
    flex-direction: column;
    min-height: 100vh; /* не меньше высоты экрана */
}
.main{
    background-color:rgba(0, 0, 0, 0.1);
    flex:1;
}

/*--------PAGES--------*/
/*--------1-INDEX--------*/
/* my-title, my-text */
.video-inst{
    width:100%;
    max-height: 80vh;
    object-fit: cover;
    display: block;   
}
/*--------2-CATALOG--------*/
.rounded-circle{
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: top;
}
.product-card{
    background-color:  rgba(255, 255, 255, 0.800);
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0.700);
}

/*--------3-BASKET--------*/
.orderDetails{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    padding: 10px;
}
.productData{
    border: solid rgba(0, 0, 0, 0.200);
    border-width: 1px;
    margin: 20px;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}
.colorSelector{
    width: 185px;
}
.colorDemo{
    width: 25px; 
    height: 25px;
    border: solid rgba(0, 0, 0, 0.200);
    border-width: 1px; 
    border-radius: 15%; 
    margin-left: 5px; 
    background-color: rgba(255, 255, 255, 0);
}

.formInput{
    border: solid rgba(0, 0, 0, 0.200);
    border-width: 1px;
    margin: auto; 
    padding: 20px;
    background-color: #F5EAD6;
 }
 .instruction{
    width: 80%;
    max-width: 400px;
}
 .colLeft {
    padding: 0;
    text-align: center;
 }
  .colRight {
    margin: auto;
 }

 .info{
    background-color: #DBC5AE;
    padding: 15px;
    margin: 0 0 10px 0;
 }
 .stripesCount, .inputMeasurement{
    width: 50px;
}
/*-------------------------------------------  */
/*extra small <576px*/
@media (max-width: 576px) {
    /* .extra-small{background-color:yellow;} */
    .main-text, .my-text {
        font-size: 16px;
    }
    .main-logo {
        width: 100px;
    }
    .my-title{
        font-size: 24px;
    }
}
/*small ≥576px*/
@media (min-width: 576px) and (max-width: 768px) {
    /* .small{background-color:yellow;} */
    .main-text, .my-text {
        font-size: 16px;
    }
    .main-logo {
        width: 100px;
    }
    .my-title{
        font-size: 24px;
    }
}
/*medium ≥768px*/
@media (min-width: 768px) and (max-width: 992px)  {
    /* .medium{background-color:yellow;} */
    .main-text, .my-text {
        font-size: 16px;
    }
    .main-logo {
        width: 100px;
    }
    .my-title{
        font-size: 24px;
    }
}
/*large ≥992px*/
@media (min-width: 992px) and (max-width: 1200px){
    /* .large{background-color:yellow;} */   
    .main-text, .my-text {
        font-size: 18px;
    }
    .main-logo {
        width: 113px;
    }
    .my-title{
        font-size: 26px;
    }
}
/*x-large ≥1200px*/
@media (min-width: 1200px) {
    /* .x-large{background-color:yellow;} */   
    .main-text, .my-text  {
        font-size: 20px;
    }
    .main-logo {
        width: 125px;
    }
    .my-title{
        font-size: 28px;
    }
}